@model Mar.Models.Login;

@{
    Layout = "_Layout";
}


<div class="createContainer">

    <h1>Lägg till en ny Användare</h1>
    <form asp-action="Create">
        <div>
            Username: <input asp-for="Username" />
        </div>
        <div>
            Password: <input asp-for="Password" />
        </div>
        <div>
            <input type="submit" value="Save" class="btn btn-success" />

            @ViewBag.ErrorMessage
        </div>
    </form>

</div>

<a asp-action="Index" asp-controller="Login">Return</a>
