@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="">
    <div class="PostIndex">
        <div class="common-container">
            <div class="section-header">
                <div class="title-description text-center">
                    <h1><i class="fa-solid fa-fire"></i> Hot Threads</h1>
                </div>
            </div>
            <div class="common-container" style="display: block;">
                @await Component.InvokeAsync("HotThreads")
            </div>
        </div>
    </div>
</div>

<!--Hey-->