body, html {
    height: 100%;
    margin: 0;
    background-color: #222222;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.login-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-modal {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 40vh;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
}

.close-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
    color: #fff;
}

.form-control {
    width: 100%;
    padding: 10px;
    background-color: #555;
    border: none;
    color: #fff;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.navContainer {
    background-color: #333;
}

.navLayout {
    margin-left: 100px;
    max-height: 30px;
}

.navItem {
    background-color: #fff;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
}

    .navbar-brand.active {
        background-color: #222222;
        border-radius: 5px;
        border-block-end-style: groove;
    }

    .navbar-brand:is(:hover) {
        color: gray;
    }

.navbar-brand {
    font-size: 15px;
    width: 100px;
    height: 40px;
    text-align: center;
}



.link {
    color: #59a6ff;
    text-decoration: none;
    font-size: 13px;
}

    .link:hover {
        color: dimgray;
    }

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #ff9600;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.error-message {
    color: #ff3860;
    text-align: center;
}

.labelHover {
    color: gray;
}
