body, html {
    height: 100%;
    margin: 0;
    background-color: #161618;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}


.login-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Ensures the overlay covers the whole screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 10; /* Ensures it's above other content */
}

.login-modal {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 42.5vh;
    opacity: 0; /* Start fully transparent */
    animation: fadeInModal 0.5s ease-out forwards; /* Animation to fade in */
    z-index: 20; /* Above the overlay */
}

@keyframes fadeInModal {
    0% {
        opacity: 0;
        transform: translateY(-20px); /* Starts a bit above its final position */
    }

    100% {
        opacity: 1;
        transform: translateY(0); /* Ends at its final position */
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 20px;
}


.g-recaptcha {
}

h2 {
    margin: 0;
}




.close-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
    color: #fff;
}

.form-control {
    width: 100%;
    padding: 10px;
    background-color: #555;
    border: none;
    color: #fff;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}



.navContainer {
    background-color: #242424;
}

.navLayout {
    margin-left: 100px;
    max-height: 30px;
}

.navItem {
    background-color: #fff;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
}

    .navbar-brand.active {
        background-color: #222222;
        border-radius: 5px;
        border-block-end-style: groove;
    }

    .navbar-brand:is(:hover) {
        color: gray;
    }

.navbar-brand {
    font-size: 15px;
    width: 100px;
    height: 40px;
    text-align: center;
}

.profileHeader {
    background-color: #030303; /* Adjust the background color as needed */
    padding: 0px;
    text-align: center; /* Center the profile icon if desired */
    width: 100%; /* or some percentage relative to its container */
    height: auto; /* maintain aspect ratio */
    max-width: auto;
}


.secondary-nav {
    position: relative;
    height: 20px; /* Adjust height as needed */
    background: transparent;
}

    .secondary-nav::before,
    .secondary-nav::after {
        content: '';
        position: absolute;
        bottom: 20px; /* Align with the bottom of the div */
        height: 3px; /* Height of the line */
        background-color: #0f5579; /* Color of the line */
    }

    .secondary-nav::before {
        left: 0;
        width: 150px; /* Fixed width, unaffected by zoom */
    }

    .secondary-nav::after {
        right: 0;
        width: 150px; /* Fixed width, unaffected by zoom */
    }


.positionAbove {
    position: absolute;
    top: 370px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Ensure this is above profileHeader */
}


.secondary-nav1 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 3px solid #0f5579;
    border-left: 3px solid #0f5579;
    border-right: 3px solid #0f5579;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #161618;
}


.profileIcon {
    width: 630px; /* Adjust size as needed */
    height: 350px; /* Adjust size as needed */
    border-radius: 100%; /* Circular icon */
    display: inline-block; /* Necessary for centering if using text-align on parent */
    background-size: cover; /* Cover the entire area of the div */
    background-position: center; /* Center the background image */
}

.dropdown-menu {
    padding: 0;
    background-color: #3333;
    border-color: gray;
    width: 400px;
    height: 120px;
}

.profileTab {
    background-color: red;
    padding: 20px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusts alignment */
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px; /* Ensures padding is consistent */
}

    .dropdown-item i {
        color: gray; /* Icon color */
        padding: 5px; /* Add padding around the icon */
        margin-right: 10px; /* Space between the icon and text */
        background-color: #222222; /* Background color of the box */
        border-radius: 3px; /* Rounded corners for the box */
    }

    .dropdown-item:active {
        background-color: dimgray;
    }


.link {
    color: #59a6ff;
    text-decoration: none;
    font-size: 13px;
}

    .link:hover {
        color: dimgray;
    }



.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #ff9600;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    column-count: 2;
    column-gap: 4px;
}


li {
    padding: 2px;
}

.error-message {
    color: #ff3860;
    text-align: center;
}

.labelHover {
    color: gray;
}
