@model Pito.Models.ThreadModel

@{
    Layout = "_Layout";
}

<div class="PostIndex">
    <div class="common-container">
        <h2>Edit Thread</h2>
        <form asp-action="Edit" asp-controller="Thread" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
                <label></label>
                <div class="">
                    <a asp-action="MyThreads" class=" btn btn-danger">Cancel</a>
                </div>
                
            </div>
        </form>
    </div>
</div>


